# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
**/dist
**/build
**/.turbo
**/.next

# Env
.env
.env.*

# Prisma
**/prisma/dev.db
**/prisma/dev.db-journal

# OS
.DS_Store

# IDE
.vscode
.idea

# Logs
logs
*.log

# Docker
.docker

# Coverage
coverage
